@import url('https://fonts.googleapis.com/css2?family=Sarpanch&display=swap');
body {
    background-color: rgb(10, 10, 10);
    font-family: 'Sarpanch', sans-serif;
    color: white;
    text-align: center;
}

#des {
    width: 1000px;
    position: relative;
    left: 450px;
    text-align: left;
    border-style: solid;
    border-color: grey;
    color: lightgrey;
}

p {
    font-size: 20px;
}

h1 {
    border-style: solid;
    border-color: grey;
}

#title {
    width: 1000px;
    position: relative;
    left: 450px;
    color: lightgrey;
}

#gallery img {
    width: 1000px;
    position: relative;
    left: 25;
    border-style: solid;
}
